/********** index.html **********/

/***** jounral-form ******/

.journal-form {
    /*set the grid position*/
    grid-row: 1/2;
    grid-column: 1/-1;
}

/***** jounral-entries ******/

.journal-entry {
    /*set the grid position*/
    grid-row: 2/-1;
    grid-column: 1/-1;
}
